<div class="card">
  <p-toolbar>
    <ng-template pTemplate="start">
      <app-request-table-buttons
        [isViewDisabled]="isViewDisabled"
        [isActionDisabled]="isActionDisabled"
        (view)="onViewRequest()"
        (approve)="
          confirmStatusChange(nextApprovalStatus, RequestActionEnum.Approve)
        "
        (decline)="
          confirmStatusChange(rejectedStatus, RequestActionEnum.Decline)
        "
      ></app-request-table-buttons>
    </ng-template>

    <ng-template pTemplate="center">
      <app-student-number-search-input
        (filterChanged)="onFilterChange($event)"
      />
    </ng-template>
  </p-toolbar>

  <app-request-table
    [value$]="filteredRequests$"
    [(selection)]="selectedRequestReadData"
    [columns]="columns"
    [pageSize]="pageSize"
    [totalRecords]="totalRecords"
    [preview]="true"
    (pageChange)="onPageChange($event)"
  ></app-request-table>

  <app-view-request-dialog
    [(visible)]="isViewDialogVisible"
    [request]="selectedRequestToView"
  ></app-view-request-dialog>

  <app-confirmation-dialog></app-confirmation-dialog>
</div>
