<div class="card flex justify-center">
  <p-accordion value="0" [style.width]="'100%'">
    <p-accordion-panel value="0">
      <p-accordion-header>ASSIGN SUBJECTS:</p-accordion-header>
      <p-accordion-content>
        <div class="form-and-table">
          <div class="form-section">
            <p-toolbar>
              <form
                [formGroup]="addTeacherForm"
                (ngSubmit)="addTeacher()"
                class="form-container"
              >
                <h4>Assign:</h4>
                <p-fluid>
                  <p-inputgroup>
                    <p-inputgroup-addon>
                      <i class="pi pi-id-card"></i>
                    </p-inputgroup-addon>
                    <input
                      pInputText
                      formControlName="teacherCode"
                      placeholder="Teacher Code"
                    />
                  </p-inputgroup>
                </p-fluid>
                <div class="card sm:flex sm:justify-center">
                  <p-orderlist
                    [value]="subjectList"
                    dataKey="subjectId"
                    breakpoint="575px"
                  >
                    <ng-template let-option pTemplate="item">
                      {{ option.subjectName }} ({{ option.subjectCode }})
                    </ng-template>
                  </p-orderlist>
                </div>
                <p-button
                  label="Add New"
                  type="submit"
                  [disabled]="addTeacherForm.invalid"
                ></p-button>
              </form>
            </p-toolbar>
          </div>

          <div class="table-section">
            <app-instructor-subject-table></app-instructor-subject-table>
          </div>
        </div>
      </p-accordion-content>
    </p-accordion-panel>

    <p-accordion-panel value="1">
      <p-accordion-header>INSTRUCTORS:</p-accordion-header>
      <p-accordion-content>
        <div class="form-and-table">
          <div class="form-section">
            <p-toolbar>
              <form
                [formGroup]="addTeacherForm"
                (ngSubmit)="addTeacher()"
                class="form-container"
              >
                <h4>Manage:</h4>
                <p-fluid>
                  <p-inputgroup>
                    <p-inputgroup-addon>
                      <i class="pi pi-id-card"></i>
                    </p-inputgroup-addon>
                    <input
                      pInputText
                      formControlName="teacherCode"
                      placeholder="Teacher Code"
                    />
                  </p-inputgroup>

                  <p-inputgroup>
                    <p-inputgroup-addon>
                      <i class="pi pi-user"></i>
                    </p-inputgroup-addon>
                    <input
                      pInputText
                      formControlName="teacherName"
                      placeholder="Teacher Name"
                    />
                  </p-inputgroup>
                </p-fluid>

                <p-button
                  label="Add New"
                  type="submit"
                  [disabled]="addTeacherForm.invalid"
                ></p-button>
              </form>
            </p-toolbar>
          </div>

          <div class="table-section">
            <app-instructors-table></app-instructors-table>
          </div>
        </div>
      </p-accordion-content>
    </p-accordion-panel>

    <p-accordion-panel value="2">
      <p-accordion-header>SUBJECTS:</p-accordion-header>
      <p-accordion-content>
        <div class="form-and-table">
          <div class="form-section">
            <p-toolbar>
              <form
                [formGroup]="addSubjectForm"
                (ngSubmit)="addSubject()"
                class="form-container"
              >
                <h4>Manage:</h4>
                <p-fluid>
                  <p-inputgroup>
                    <p-inputgroup-addon>
                      <i class="pi pi-hashtag"></i>
                    </p-inputgroup-addon>
                    <input
                      pInputText
                      formControlName="subjectCode"
                      placeholder="Subject Code"
                    />
                  </p-inputgroup>

                  <p-inputgroup>
                    <p-inputgroup-addon>
                      <i class="pi pi-book"></i>
                    </p-inputgroup-addon>
                    <input
                      pInputText
                      formControlName="subjectName"
                      placeholder="Subject Name"
                    />
                  </p-inputgroup>
                </p-fluid>

                <p-button
                  label="Add Subject"
                  type="submit"
                  [disabled]="addSubjectForm.invalid"
                ></p-button>
              </form>
            </p-toolbar>
          </div>

          <div class="table-section">
            <app-subjects-table
              (subjectUpdated)="loadSubjects()"
            ></app-subjects-table>
          </div>
        </div>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
</div>
<p-toast></p-toast>
