<div class="main-container">
  <div class="content">
    <img src="assets/images/psuLogo.png" alt="PSU Logo" class="logo" />
    <h3>PSU - Porac Campus</h3>
    <h3>Late and Absence</h3>
    <h3>Request System</h3>
    <br />
    <hr class="section-divider" />
    <p>Sign in to your account</p>

    <form
      [formGroup]="userLoginForm"
      (ngSubmit)="submitUserLogin()"
      class="form-container"
    >
      <p-fluid>
        <div class="form-columns">
          <div class="form-column" style="margin-top: 2.3rem">
            <p-inputGroup>
              <p-inputGroupAddon>
                <i class="pi pi-user"></i>
              </p-inputGroupAddon>
              <p-floatLabel variant="on">
                <input
                  pInputText
                  id="username"
                  formControlName="username"
                  autocomplete="off"
                />
                <label for="username">Username</label>
              </p-floatLabel>
            </p-inputGroup>

            <p-inputGroup>
              <p-inputGroupAddon><i class="pi pi-lock"></i></p-inputGroupAddon>
              <p-floatLabel variant="on">
                <input
                  [type]="showPassword ? 'text' : 'password'"
                  pInputText
                  id="password"
                  formControlName="password"
                  autocomplete="off"
                />
                <label for="password">Password</label>
              </p-floatLabel>
              <p-inputGroupAddon (click)="togglePasswordVisibility()">
                <i
                  class="pi"
                  [ngClass]="showPassword ? 'pi-eye-slash' : 'pi-eye'"
                ></i>
              </p-inputGroupAddon>
            </p-inputGroup>
            <div style="text-align: right; margin-top: -0.5rem">
              <a
                href=""
                class="forgot-password-link"
                (click)="onForgotPasswordClick($event)"
              >
                Forgot Password?
              </a>
            </div>
          </div>
        </div>
      </p-fluid>

      <p-button
        label="Sign In"
        type="submit"
        [disabled]="userLoginForm.invalid"
      />
    </form>
    <app-copyright marginTop="2rem"></app-copyright>
  </div>

  <div class="image-section">
    <img src="assets/images/psuImage1.png" alt="Background Image" />
  </div>
</div>

<p-dialog
  header="Reset Your Password"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '28rem' }"
  [breakpoints]="{ '960px': '90vw' }"
>
  <form
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="sendResetLink()"
    class="forgot-password-form"
  >
    <span class="p-text-secondary block mb-3">
      Enter your registered email address. We’ll send you a reset link.
    </span>

    <div class="form-field">
      <label for="email">Email Address:</label>
      <input
        id="email"
        type="email"
        pInputText
        formControlName="username"
        placeholder="you@example.com"
        autocomplete="off"
      />
      <small
        class="p-error"
        *ngIf="
          forgotPasswordForm.get('email')?.invalid &&
          forgotPasswordForm.get('email')?.touched
        "
      >
        A valid email is required.
      </small>
    </div>

    <div class="dialog-actions">
      <p-button
        label="Cancel"
        severity="secondary"
        icon="pi pi-times"
        (click)="visible = false"
      ></p-button>
      <p-button
        label="Send Reset Link"
        icon="pi pi-envelope"
        type="submit"
        [disabled]="forgotPasswordForm.invalid"
      ></p-button>
    </div>
  </form>
</p-dialog>
