<div
  class="sidenav"
  [ngClass]="isLeftSidebarCollapsed() ? 'sidenav-collapsed' : ''"
>
  <div class="sidenav-nav">
    @for (item of items; track $index) {
    <li class="sidenav-nav-item">
      <a
        class="sidenav-nav-link"
        [routerLink]="item.routerLink"
        (click)="item.command?.($event)"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="sidenav-link-icon" [class]="item.icon"></i>
        @if (!isLeftSidebarCollapsed()) {
        <span class="sidenav-link-text">{{ item.label }}</span>
        }
      </a>
    </li>
    }
  </div>
  <div class="sidenav-logo-container" *ngIf="!isLeftSidebarCollapsed()">
    <hr class="section-divider" />
    <img src="assets/images/psuLogo.png" alt="PSU Logo" class="sidenav-logo" />
    <p class="copyright-text">
      &copy;2025 CupsLuck Team · Pampanga State University – Porac Campus
    </p>
  </div>
</div>
<p-confirmpopup></p-confirmpopup>
