<h1>INitial approval of secretary</h1>

<div class="card">
  <p-table  [value]="requestReadData"
    [paginator]="true"
    [rows]="pageSize"
    [totalRecords]="totalRecords"
    [lazy]="true"
    (onPage)="onPageChange($event)"
    [tableStyle]="{ 'min-width': '60rem' }"
    stripedRows
    >


    <ng-template pTemplate="header">
      <tr>
        <th>Student Number</th>
        <th>Student Name</th>
        <th>Course/Year/Section</th>
        <th>Date of Absence</th>
        <th>Date of Attendance</th>
        <th>Reason</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-request>
      <tr>
        <td>{{ request.studentNumber }}</td>
        <td>{{ request.studentName }}</td>
        <td>{{ request.courseYearSection }}</td>
        <td>{{ request.dateOfAbsence ? (request.dateOfAbsence | date:'MM/dd/yyyy') : '—'}}</td>
        <td>{{ request.dateOfAttendance ? (request.dateOfAttendance | date:'MM/dd/yyyy') : '—'}}</td>
        <td>{{ request.reason }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
