<div class="card">
  <p-table
    [value]="subjectsTable"
    [scrollable]="true"
    scrollHeight="375px"
    [tableStyle]="{ 'min-width': '40rem' }"
    [rowHover]="true"
  >
    <ng-template #header>
      <tr>
        <th>Subject Code</th>
        <th>Subject Name</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template #body let-subject>
      <tr>
        <td>{{ subject.subjectCode }}</td>
        <td>{{ subject.subjectName }}</td>
        <td>
          <p-button
            icon="pi pi-pencil"
            class="mr-2"
            [rounded]="true"
            [outlined]="true"
            (click)="showDialog(subject)"
          />
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<app-update-teacher-subject-dialog
  [(visible)]="visible"
  [form]="editSubjectForm"
  [fields]="fields"
  (submit)="updateSubject()"
  (delete)="deleteSubject(editSubjectForm.value.subjectId)"
/>
<app-confirmation-dialog />
