.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #770202;
  padding: 0.5rem;
  padding-left: 0.3rem;
  color: white;
  box-sizing: border-box;
  position: fixed;
  z-index: 1000;
}

.navbar h1 {
  margin-left: 1rem;
  font-size: 25px;
  flex-grow: 1;
}

.text-link-button {
  margin-left: 25px;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.text-link-button:hover {
  text-decoration: underline;
  transform: scale(1.2);
}
