<h1>Initial Request:</h1>

<div class="card">
  <p-toolbar>
    <ng-template pTemplate="start">
      <p-button
        label="View"
        severity="info"
        [disabled]="isViewDisabled"
        (click)="onViewRequest()"
      ></p-button>
      <p-button
        label="Approve"
        severity="success"
        [disabled]="isActionDisabled"
        (click)="confirmStatusChange(10, 'Approve')"
      ></p-button>
      <p-button
        label="Decline"
        severity="danger"
        [disabled]="isActionDisabled"
        (click)="confirmStatusChange(2, 'Decline')"
      ></p-button>
    </ng-template>

    <ng-template pTemplate="center">
      <app-student-number-search-input
        (filterChanged)="onFilterChange($event)"
      />
    </ng-template>
  </p-toolbar>
</div>

<app-request-table
  [value$]="filteredRequests$"
  [selection]="selectedRequestReadData"
  [pageSize]="pageSize"
  [totalRecords]="totalRecords"
  [columns]="columns"
  (selectionChange)="selectedRequestReadData = $event"
  (pageChange)="onPageChange($event)"
></app-request-table>

<app-view-request-dialog
  [(visible)]="isViewDialogVisible"
  [request]="selectedRequestToView"
></app-view-request-dialog>

<app-confirmation-dialog></app-confirmation-dialog>
