<h1>Initial Request:</h1>

<div class="card">
  <p-toolbar>
    <ng-template pTemplate="start">
      <app-request-table-buttons
        [isViewDisabled]="isViewDisabled"
        [isActionDisabled]="isActionDisabled"
        (view)="onViewRequest()"
        (approve)="
          confirmStatusChange(
            RequestStatusEnum.WaitingForStudentSupportingDocuments,
            RequestActionEnum.Approve
          )
        "
        (decline)="
          confirmStatusChange(
            RequestStatusEnum.RejectedInFirstSecretaryApproval,
            RequestActionEnum.Decline
          )
        "
      >
      </app-request-table-buttons>
    </ng-template>

    <ng-template pTemplate="center">
      <app-student-number-search-input
        (filterChanged)="onFilterChange($event)"
      />
    </ng-template>
  </p-toolbar>
</div>

<app-request-table
  [value$]="filteredRequests$"
  [(selection)]="selectedRequestReadData"
  [pageSize]="pageSize"
  [totalRecords]="totalRecords"
  [columns]="columns"
  (pageChange)="onPageChange($event)"
></app-request-table>

<app-view-request-dialog
  [(visible)]="isViewDialogVisible"
  [request]="selectedRequestToView"
></app-view-request-dialog>

<app-confirmation-dialog></app-confirmation-dialog>
