<p-dialog
  header="Edit"
  [(visible)]="visible"
  [style]="{ width: '25rem' }"
  (onHide)="closeDialog()"
>
  <form [formGroup]="form">
    <div *ngFor="let field of fields" class="flex items-center gap-4 mb-4">
      <label class="font-semibold w-24">{{ field.label }}:</label>
      <input
        pInputText
        class="flex-auto"
        [type]="field.type || 'text'"
        [formControl]="getFormControl(field.controlName)"
      />
    </div>

    <div class="flex justify-between items-center mt-4">
      <p-button
        icon="pi pi-trash"
        severity="danger"
        (click)="onDelete()"
      ></p-button>
      <div class="flex gap-2">
        <p-button
          label="Cancel"
          severity="secondary"
          (click)="closeDialog()"
        ></p-button>
        <p-button
          label="Update"
          severity="info"
          [disabled]="form.invalid"
          (click)="onSubmit()"
        ></p-button>
      </div>
    </div>
  </form>
</p-dialog>
