.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e9ecef;
}

.custom-card-header {
  display: flex;
  align-items: center;
  height: 4rem;
  background-color: #770202;
  font-weight: 600;
  padding: 0 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  color: white;
  font-size: 1.5rem;
}

.header-logo {
  height: 3rem;
  margin-right: 1rem;
}
