<div class="card-wrapper">
  <p-card>
    <div *ngIf="isExpired" class="expired-message">
      <h2>This link has expired.</h2>
    </div>
    <ng-template #header>
      <div class="custom-card-header">
        <img src="assets/images/psuLogo.png" alt="Logo" class="header-logo" />
        <span>PSU - Porac Campus Late And Absence Request System</span>
      </div>
    </ng-template>
    <div
      *ngIf="tokenData && !isExpired && !isSubmitted"
      class="request-section"
    >
      <h3 class="section-title">Request Details</h3>
      <ul class="request-list">
        <li>
          <span class="label">Student Number:</span>
          <span>{{ tokenData.studentNumber }}</span>
        </li>
        <li>
          <span class="label">Student Name:</span>
          <span>{{ tokenData.studentName }}</span>
        </li>
        <li>
          <span class="label">Teacher:</span>
          <span>{{ tokenData.teacher }}</span>
        </li>
        <li>
          <span class="label">Subject:</span>
          <span>{{ tokenData.subject }}</span>
        </li>
        <li>
          <span class="label">Date of Absence:</span>
          <span>{{ tokenData.dateOfAbsence | dateFormat }}</span>
        </li>
        <li>
          <span class="label">Date of Attendance:</span>
          <span>{{ tokenData.dateOfAttendance | dateFormat }}</span>
        </li>
        <li>
          <span class="label">Reason:</span> <span>{{ tokenData.reason }}</span>
        </li>
      </ul>

      <p-card>
        <ng-template pTemplate="header">
          <div class="card-header">
            <span class="card-title">Add Supporting Documents</span>
          </div>
        </ng-template>
        <form [formGroup]="formGroup" class="upload-form">
          <div class="upload-row">
            <div class="upload-item">
              <label>Image Proof</label>
              <p-fileupload
                #imageProofUploader
                mode="basic"
                chooseLabel="Choose"
                chooseIcon="pi pi-upload"
                accept="image/*"
                maxFileSize="1000000"
                (onSelect)="handleFile($event, 'imageProof')"
                customUpload
              />
              <p-image
                *ngIf="imagePreviews.imageProof"
                [src]="imagePreviews.imageProof"
                alt="ImageProof"
                width="120"
                preview
              ></p-image>
            </div>

            <div class="upload-item">
              <label>Parent's Valid ID</label>
              <p-fileupload
                #parentsValidIdUploader
                mode="basic"
                chooseLabel="Choose"
                chooseIcon="pi pi-upload"
                accept="image/*"
                maxFileSize="1000000"
                (onSelect)="handleFile($event, 'parentsValidId')"
                customUpload
              />
              <p-image
                *ngIf="imagePreviews.parentsValidId"
                [src]="imagePreviews.parentsValidId"
                alt="ParentsValidId"
                width="120"
                preview
              ></p-image>
            </div>

            <div class="upload-item">
              <label>Medical Certificate (optional)</label>
              <p-fileupload
                #medicalCertificateUploader
                mode="basic"
                chooseLabel="Choose"
                chooseIcon="pi pi-upload"
                accept="image/*"
                maxFileSize="1000000"
                (onSelect)="handleFile($event, 'medicalCertificate')"
                customUpload
              />
              <p-image
                *ngIf="imagePreviews.medicalCertificate"
                [src]="imagePreviews.medicalCertificate"
                alt="MedicalCertificate"
                width="120"
                preview
              ></p-image>
            </div>
          </div>

          <div class="button-group">
            <p-button
              label="Submit"
              icon="pi pi-check"
              (onClick)="submitImages()"
              [disabled]="formGroup.invalid"
              severity="success"
            ></p-button>
            <p-button
              label="Clear"
              severity="secondary"
              (onClick)="clearAll()"
            ></p-button>
          </div>
        </form>
      </p-card>
    </div>

    <div *ngIf="!tokenData && !isExpired">
      <p>Waiting for token...</p>
    </div>

    <div *ngIf="tokenData && !isExpired && isSubmitted" class="success-message">
      <h3>Supporting Documents already submitted.</h3>
      <p>Please wait for further approval.</p>
    </div>
    <app-copyright marginTop="0rem"></app-copyright>
  </p-card>
</div>
