<div class="card-wrapper">
  <p-card>
    <ng-template #header>
      <div class="custom-card-header">
        <img src="assets/images/psuLogo.png" alt="Logo" class="header-logo" />
        <span>PSU - Porac Campus Late And Absence Request System</span>
      </div>
    </ng-template>

    <div *ngIf="isExpired" class="expired-message">
      <h2>This link has expired.</h2>
    </div>

    <div *ngIf="success" class="success-message">
      <h2>Your password has been reset successfully.</h2>
    </div>

    <div *ngIf="!isExpired && !success">
      <h3>Reset Password</h3>
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <p-fluid class="mt-4">
          <div class="username mb-3">
            <input
              id="username"
              pInputText
              type="text"
              formControlName="username"
              [disabled]="true"
            />
          </div>
          <div
            class="password-policy"
            *ngIf="resetForm.get('password')?.errors?.['passwordPolicy'] && resetForm.get('password')?.touched"
          >
            <p>
              Password must:
              <span
                *ngIf="!resetForm.get('password')?.errors?.['passwordPolicy'].hasUpperCase"
              >
                include an uppercase letter,</span
              >
              <span
                *ngIf="!resetForm.get('password')?.errors?.['passwordPolicy'].hasLowerCase"
              >
                include a lowercase letter,</span
              >
              <span
                *ngIf="!resetForm.get('password')?.errors?.['passwordPolicy'].hasNumber"
              >
                include a digit,</span
              >
              <span
                *ngIf="!resetForm.get('password')?.errors?.['passwordPolicy'].hasSpecialChar"
              >
                include a special character,</span
              >
              <span
                *ngIf="!resetForm.get('password')?.errors?.['passwordPolicy'].hasMinLength"
              >
                be at least 8 characters.</span
              >
            </p>
          </div>

          <div class="password">
            <p-password
              type="password"
              formControlName="password"
              [toggleMask]="true"
              placeholder="New Password"
            />
          </div>

          <div class="password">
            <p-password
              type="password"
              formControlName="confirmPassword"
              [toggleMask]="true"
              placeholder="Confirm Password"
            />
          </div>
        </p-fluid>

        <div class="button-wrapper">
          <p-button
            label="Reset Password"
            type="submit"
            [disabled]="resetForm.invalid"
          ></p-button>
        </div>
      </form>
    </div>

    <app-copyright></app-copyright>
  </p-card>
</div>
