<p-card class="card-wrapper">
  <div class="form-table-container">
    <div class="info-section">
      <h2 class="form-title">Invite a User:</h2>
      <p class="form-description">
        Enter the email address of the user you want to invite and assign them a
        role. Once the invited user registers, their account will be listed
        below, where you can activate their status and update their role as
        needed.
      </p>
      <ul class="form-hints">
        <li>Provide a valid institutional or organizational email.</li>
        <li>Assign a role for access control.</li>
        <li>Manage status and roles in the table once registered.</li>
      </ul>
    </div>

    <div class="form-section">
      <form
        [formGroup]="newUserForm"
        (ngSubmit)="addNewUser()"
        class="form-fields"
      >
        <h3 class="form-subtitle">New User Form</h3>

        <p-inputgroup>
          <p-inputgroup-addon>
            <i class="pi pi-envelope"></i>
          </p-inputgroup-addon>
          <input
            pInputText
            formControlName="email"
            placeholder="User Email"
            type="email"
          />
        </p-inputgroup>

        <p-inputgroup>
          <p-inputgroup-addon>
            <i class="pi pi-users"></i>
          </p-inputgroup-addon>
          <p-select
            formControlName="role"
            [options]="roles"
            placeholder="Assign Role"
            [style]="{ width: '100%' }"
            appendTo="body"
          ></p-select>
        </p-inputgroup>

        <p-button
          label="Send Invitation"
          type="submit"
          [disabled]="newUserForm.invalid"
          styleClass="form-button-centered"
        ></p-button>
      </form>
    </div>
  </div>
  <hr class="section-divider" />
  <p-card *ngIf="users.controls.length" class="table-wrapper">
    <form [formGroup]="userListForm">
      <div formArrayName="users">
        <p-table
          #userTable
          [value]="userData"
          dataKey="userCode"
          editMode="row"
          scrollHeight="375px"
          [rowHover]="true"
          [tableStyle]="{ 'min-width': '70rem' }"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Teacher Code</th>
              <th>Last Name</th>
              <th>First Name</th>
              <th>Email</th>
              <th>Role</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </ng-template>

          <ng-template
            pTemplate="body"
            let-rowData
            let-editing="editing"
            let-ri="rowIndex"
          >
            <tr [formGroup]="getUserFormGroup(ri)" [pEditableRow]="rowData">
              <td>{{ rowData.userCode }}</td>
              <td>{{ rowData.lastName }}</td>
              <td>{{ rowData.firstName }}</td>
              <td>{{ rowData.email }}</td>

              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-select
                      formControlName="role"
                      [options]="roles"
                      [style]="{ width: '100%' }"
                      appendTo="body"
                    ></p-select>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ rowData.role }}
                  </ng-template>
                </p-cellEditor>
              </td>

              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-select
                      formControlName="status"
                      [options]="statuses"
                      [style]="{ width: '100%' }"
                      appendTo="body"
                    ></p-select>
                  </ng-template>
                  <ng-template pTemplate="output">
                    <p-tag
                      [value]="rowData.status"
                      [severity]="getSeverity(rowData.status)"
                    />
                  </ng-template>
                </p-cellEditor>
              </td>

              <td>
                <div class="flex gap-2 justify-center">
                  <p-button
                    *ngIf="editingRowIndex !== ri"
                    pButton
                    pInitEditableRow
                    icon="pi pi-pencil"
                    (click)="onRowEditInit(ri)"
                    text
                    rounded
                  ></p-button>

                  <p-button
                    *ngIf="editingRowIndex === ri"
                    pButton
                    pSaveEditableRow
                    icon="pi pi-check"
                    (click)="onRowEditSave(ri)"
                    text
                    rounded
                  ></p-button>

                  <p-button
                    *ngIf="editingRowIndex === ri"
                    pButton
                    pCancelEditableRow
                    icon="pi pi-times"
                    (click)="onRowEditCancel(ri)"
                    text
                    rounded
                  ></p-button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </form>
  </p-card>
</p-card>
