<div class="content">
  <section class="spacer">
    <img src="assets/images/dpcimage1.png" alt="Background Image" />
  </section>

  <div #formSection>
    <div class="form-wrapper">
      <p-card>
        <ng-template #header>
          <div class="custom-card-header">
            <img
              src="assets/images/dpcimage1.png"
              alt="Logo"
              class="header-logo"
            />
            <span>Request Form</span>
          </div>
        </ng-template>
        <form
          [formGroup]="requestForm"
          (ngSubmit)="submitRequestForm()"
          class="form-container"
        >
          <p>
            Please complete the form below to submit your official request.
            Ensure all required fields are filled out accurately. This
            information will be reviewed and processed by the DPC administrative
            staff.
          </p>
          <p-fluid>
            <div class="form-columns">
              <div class="form-column" style="margin-top: 2.3rem">
                <p-inputGroup>
                  <p-inputGroupAddon
                    ><i class="pi pi-id-card"></i
                  ></p-inputGroupAddon>
                  <p-floatLabel variant="on">
                    <input
                      pInputText
                      id="studentNumber"
                      formControlName="studentNumber"
                      autocomplete="off"
                    />
                    <label for="studentNumber">Student Number</label>
                  </p-floatLabel>
                </p-inputGroup>

                <p-inputGroup>
                  <p-inputGroupAddon
                    ><i class="pi pi-user"></i
                  ></p-inputGroupAddon>
                  <p-floatLabel variant="on">
                    <input
                      pInputText
                      id="studentName"
                      formControlName="studentName"
                      autocomplete="off"
                    />
                    <label for="studentName">Student Name</label>
                  </p-floatLabel>
                </p-inputGroup>

                <p-inputGroup>
                  <p-inputGroupAddon
                    ><i class="pi pi-users"></i
                  ></p-inputGroupAddon>
                  <p-floatLabel variant="on">
                    <input
                      pInputText
                      id="courseYearSection"
                      formControlName="courseYearSection"
                      autocomplete="off"
                    />
                    <label for="courseYearSection"
                      >Course / Year / Section</label
                    >
                  </p-floatLabel>
                </p-inputGroup>

                <p-floatLabel variant="on">
                  <p-autocomplete
                    id="teacher"
                    formControlName="teacher"
                    [dropdown]="true"
                    [suggestions]="filteredTeachers"
                    (completeMethod)="searchTeachers($event)"
                  />
                  <label for="teacher">Teacher</label>
                </p-floatLabel>

                <p-floatLabel variant="on">
                  <p-autocomplete
                    id="subjectCode"
                    formControlName="subjectCode"
                    [dropdown]="true"
                    [suggestions]="filteredSubjects"
                    (completeMethod)="searchSubjects($event)"
                  />
                  <label for="subjectCode">Subject Code</label>
                </p-floatLabel>
              </div>

              <div class="form-column">
                <div style="margin-top: 0.5rem">
                  <p-floatLabel>
                    <p-datepicker
                      formControlName="dateOfAbsence"
                      [showIcon]="true"
                      inputId="dateOfAbsence"
                      [iconDisplay]="'input'"
                    />

                    <label for="dateOfAbsence">Date Of Absence</label>
                  </p-floatLabel>
                </div>

                <p-floatLabel>
                  <p-datepicker
                    formControlName="dateOfAttendance"
                    [showIcon]="true"
                    inputId="dateOfAttendance"
                    [iconDisplay]="'input'"
                  />
                  <label for="dateOfAttendance">Date Of Attendance</label>
                </p-floatLabel>

                <p-inputGroup>
                  <p-inputGroupAddon
                    ><i class="pi pi-mobile"></i
                  ></p-inputGroupAddon>
                  <p-floatLabel variant="on">
                    <input
                      pInputText
                      id="parentsCpNumber"
                      pKeyFilter="num"
                      formControlName="parentsCpNumber"
                      autocomplete="off"
                    />
                    <label for="parentsCpNumber">Parent's Mobile No.</label>
                  </p-floatLabel>
                </p-inputGroup>

                <p-inputGroup>
                  <p-inputGroupAddon
                    ><i class="pi pi-comment"></i
                  ></p-inputGroupAddon>
                  <p-floatLabel variant="on">
                    <textarea
                      pTextarea
                      id="reason"
                      formControlName="reason"
                      style="height: 100px"
                      autocomplete="off"
                    ></textarea>
                    <label for="reason">Reason</label>
                  </p-floatLabel>
                </p-inputGroup>
                <p-button
                  label="Submit Request"
                  type="submit"
                  [disabled]="requestForm.invalid"
                  class="mt-3"
                />
              </div>
            </div>
          </p-fluid>
        </form>
      </p-card>
    </div>
  </div>
</div>
