.content {
  height: 191vh;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
}

.spacer {
  height: 91vh;
  overflow: hidden;
}

.spacer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0 0 8px 8px;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
  color: black;
}

.form-container {
  flex: 1;
  max-width: 1200px;
  padding: 1rem 4rem 1rem 4rem;
  margin: 1.5rem;
  background-color: #fdfdfd;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  height: 70vh;
}

.form-columns {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.form-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 25rem;
  margin-top: 2rem;
}

input {
  height: 40px;
}

.form-wrapper {
  margin-top: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.custom-card-header {
  display: flex;
  align-items: center;
  height: 4rem;
  background-color: #770202;
  font-weight: 600;
  padding: 0 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  color: #ebebeb;
  font-size: 2.5rem;
}

.header-logo {
  height: 2.5rem;
  margin-right: 1rem;
}

:host ::ng-deep .p-button {
  width: 70%;
  height: 40px;
  margin-left: 15%;
}
